---
import { getPokemonColors} from "../utils/utils";
import type { IPokemonCard } from "../types/index";

interface Props {
  pokemon: IPokemonCard;
}

const { pokemon }: Props = Astro.props;

const {bgColor, textColor} = getPokemonColors(pokemon );


---

<!-- bg-black/70 -->
<article
  transition:name={pokemon.name}
  class={`${bgColor} w-40 h-40      hover:brightness-105 hover:backdrop-blur-sm relative overflow-hidden shrink-0 flex items-center justify-center  rounded-2xl`}
>
<a href={`/pokemon/${pokemon.id}`} data-astro-prefetch="hover">
    <img src="" alt="" class="pokemon-card-image h-2/4 select-none" data-src={pokemon.image}  />
  <div
    class="absolute inset-0 w-full h-full select-none bg-gradient-to-t from-stone-400/20 to-transparent flex items-center justify-center"
  >
    <h2
      class={` text-xl font-bold uppercase -z-20 absolute top-0  ${textColor}`}
    >
      {pokemon.name}
    </h2>

    <div class="absolute h-14 w-full flex items-center justify-center bottom-0">
      {
         pokemon.types.map((type) => {
            return (
              <span
                class={`bg-white/50 text-xs font-bold px-2 py-1 rounded-full mx-1 ${textColor}`}
              >
                {type.type.name}
              </span>
            );
          })
      
      }
    </div>
  </div>
</a>
  
</article>
